{% from "components/button.njk" import button %}

<tdc-section>
<section class="section section--cfp" id="cfp" data-animate aria-labelledby="cfp-title">
  <div class="container text-center">
    <div class="section__header">
      <h2 class="section__title" id="cfp-title">{{ t.cfp.title }}</h2>
    </div>
    <p class="lead" style="margin-inline: auto;">{{ t.cfp.body }}</p>
    <div class="mt-xl">
      {{ button(t.cfp.cta, site.cfpUrl, "dark", "lg", null, true) }}
    </div>
  </div>
</section>
</tdc-section>
