{% set cocContent = "./_includes/content/" + lang + "/coc.md" %}

<tdc-section>
<section class="section" id="coc" data-animate aria-labelledby="coc-title">
  <div class="container stack">
    <header class="section__header">
      <h2 class="section__title text-h1" id="coc-title">{{ t.coc.title }}</h2>
    </header>
    <div class="prose measure">
      {% renderFile cocContent %}
    </div>
  </div>
</section>
</tdc-section>
