{% set infoContent = "./_includes/content/" + lang + "/info.md" %}

<tdc-section>
<section class="section" id="info" data-animate aria-labelledby="info-title">
  <div class="container stack">
    <header class="section__header">
      <h2 class="section__title text-h1" id="info-title">{{ t.info.title }}</h2>
    </header>
    <div class="prose measure">
      {% renderFile infoContent %}
    </div>
  </div>
</section>
</tdc-section>
