{% set volunteerContent = "./_includes/content/" + lang + "/volunteer.md" %}

<tdc-section>
<section class="section" id="volunteer" data-animate aria-labelledby="volunteer-title">
  <div class="container stack">
    <header class="section__header">
      <h2 class="section__title text-h1" id="volunteer-title">{{ t.volunteer.title }}</h2>
    </header>
    <div class="prose measure">
      {% renderFile volunteerContent %}
    </div>
  </div>
</section>
</tdc-section>
