.sz-cssgrid__track-label {
    position: sticky !important;
    top: 58px    !important;
    z-index: 10;
    background: white;
}

.sz-day__title {
    display: none !important;
}

div#sessionize.sessionize-wrapper .sz-speaker__name {
    color:white;
}

div#sessionize.sessionize-wrapper .sz-speaker__tagline {
    color:white;
}
