---
layout: default.njk
---

{# Language-scoped UI strings (long-form prose lives in _includes/content/). #}
{% set t = i18n[lang] %}

{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/tickets.njk" %}
{% include "sections/program.njk" %}
{% include "sections/speakers.njk" %}
{% include "sections/info.njk" %}
{% include "sections/partner.njk" %}
{% include "sections/volunteer.njk" %}
{% include "sections/cfp.njk" %}
{% include "sections/coc.njk" %}
