---
layout: default.njk
---

<tdc-nav {% if nav_transparent %}transparent{% endif %}></tdc-nav>

<main id="main">
  {% include "sections/hero.njk" %}
  {% include "sections/about.njk" %}
  {% include "sections/speakers.njk" %}
  {% include "sections/program.njk" %}
  {% include "sections/tickets.njk" %}
  {% include "sections/partners.njk" %}
  {% include "sections/contact.njk" %}
</main>

{% include "footer.njk" %}
